# =========================
# BACKEND (Spring Boot)
# =========================
property-service/target/
property-service/.mvn/
property-service/*.log
property-service/.idea/
property-service/*.iml


# ==========================
# Configuración sensible
# ==========================
# Application properties y YAML con credenciales
**/application-local.yml
# Archivos sensibles
property-service/src/main/resources/application-local.properties
# Environment variables
.env


# =========================
# FRONTEND (Vite / React)
# =========================
property-frontend/node_modules/
property-frontend/dist/
property-frontend/.vite/
property-frontend/.idea/

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db
